body {
  font-family: 'Work Sans', sans-serif;
}

.container{
  background-image: linear-gradient(to right, rgba(255,255,255, 1), rgba(255, 255, 255, 0.7)), url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  min-height: 100vh;
  padding: 64px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 48px;
  }
}

.name{
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.job{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about {
  font-size: 18px;
  font-weight: 300;
  color: gray;
  margin-bottom: 12px;
}

.content {
  max-width: 500px;
}

.avatar {
  width: 210px;
  height: 210px;
  margin-bottom: 40px;
  object-fit: cover;
}

.contact {
  margin-bottom: 48px;
}

.contact-icon {
  margin-right: 10px;
  width: 16px;
}

.contace-item {
  margin-bottom: 4px;
}

.button {
  background-color: black;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 36px;
  }
}